{% extends 'layout.html' %}

{% block body %}
    <!--Add server doubts as colum-->
    {% from "includes/_formhelpers.html" import render_field %}

    <div class="container">
        <h2>Classroom map</h2>
        <p>This is the map of your classroom, the upper left place is the (0,0).</p>
        <span class="badge badge-pill badge-secondary text-center w-100 ">Blackboard</span>
        <table class="table">
            {% for row in range(rows) %}
            <tr>
                {% for column in range(columns) %}
                    <td>
                        <div class="card border-secondary" id="{{ row ~ '_' ~ column }}">
                            <div class="card-body">
                                <!--<h5 class="card-title" >Progress:</h5>-->
                                <h5>
                                    <span class="badge badge-dark" id="progress_{{row ~ '_' ~ column}}">0</span>
                                    <!--<span class="badge badge-warning" id="doubt_{{row ~ ',' ~ column}}">Doubt</span>-->
                                </h5>
                            </div>
                            <ul class="list-group" id="members_{{row ~ '_' ~ column}}">
                                <li class="list-group-item" id="noMembers_{{row ~ '_' ~ column}}"><small>Empty</small></li>
                            </ul>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <h2>Doubts</h2>
        <!--Doubts container-->
        <div class="list-group" id="doubts">
            <!--This is a doubt-->
            <!--<div class="list-group-item flex-column align-items-start" id="doubt_id">-->
                <!--<p class="mb-1">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus leo ut suscipit dapibus. Proin dignissim mollis tellus, et condimentum massa convallis et. Vivamus orci nisl, luctus nec dapibus eget, cursus a velit. Nulla eget bibendum libero. Suspendisse ullamcorper vehicula mi in ullamcorper. Mauris quam turpis, lacinia et purus a, tempus hendrerit mauris. Aliquam sed ex quam.-->
                <!--</p>-->
                <!--<div>-->
                    <!--<span class="badge badge-info">Section 1</span>-->
                    <!--<button type="button" class="btn btn-primary float-right">Solve doubt</button>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    {% include "modalTimer.html" %}

    <script src="{{url_for('.static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/easytimer.js/dist/easytimer.min.js')}}"></script>


{% endblock %}
